/*- Custom style -*/
$indent: 1.3334em;
$light-gray: #f2f2f2;
$tag-height: 26px;

table {
  border-spacing: 0px;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table td {
  padding: 6px 20px;
  border: 1px solid #ddd;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

// https://gist.github.com/rcmdnk/5218040
* + table {
  border-style:solid;
  border-width:1.5px;
  border-color:#CCCCCC;
}

* + table th, * + table td {
  border-style:solid;
  border-width:1.5px;
  border-width:1px;
  border-color:#CCCCCC;
}

* + table th {
  border-style:solid;
  font-weight:bold;
  background: #FFFFFF;
}

* + table tr:nth-child(2n+1) {
  background: #F8F8F8;
}

* + table tr:nth-child(even) {
  background: #FFFFFF;
}

* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}

* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}

* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}

#container {
  min-height: 400px;
  margin-bottom: 100px;
}

p {
  text-align: justify;
}

// don't add margin to bottom of nested lists
li > ul {
  margin-bottom: 0px;
}

// indent and set backgound on code blocks
.highlight {
  margin-left: 0;
  margin-right: 0;
  background-color: $light-gray;
  pre {
    overflow-x: scroll;
    padding: 10px 25px;
  }
  code {
    padding: 0px; // override the default below
  }
}

code {
  color: #7b7b7b;
  background-color: $light-gray;
  padding: 0px 10px;
  font-size: 14px;
}

h2, h3, h4, h5 {
  color: #008A3C;
}

// distinguish links from headers
a {
  font-weight: 400;
}

// indent list items
li {
  margin-left: $indent;
}

// format post date with tags
li.post-date {
  margin-left: 0px;
  margin-right: 10px;
  line-height: $tag-height;
}

#nav-menu {
  // anchor nav menu at top of screen
  position: fixed;
}
