/*- Custom style -*/

#container {
  min-height: 400px;
  margin-bottom: 100px;
}

p {
  text-align: justify;
}

// don't add margin to bottom of nested lists
li > ul {
  margin-bottom: 0px;
}

// indent and set backgound on code blocks
.highlight {
  margin-left: 10px;
  background-color: #f2f2f2;
  pre {
    overflow-x: scroll;
    padding: 10px 25px;
  }
  code {
    padding: 0px; // override the default below
  }
}

code {
  color: #7b7b7b;
  background-color: #f2f2f2;
  padding: 0px 10px;
}

h2, h3, h4, h5 {
  color: #008A3C;
}

// distinguish links from headers
a {
  font-weight: 400;
}
