---
layout: default
---
<article id="post-page">
  <h2>{{ page.title }}</h2>
  <ul class="tags">
    <li class="post-date">
      <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">
        {{ page.date | date_to_string }}
      </time>
    </li>
    {% for tag in page.tags %}
    <li><a href="{{ site.baseurl}}/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  <div class="content">

    {{ content }}

    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}

  </div>
</article>

